$primary-color: #007bff;
$hover-color: #0056b3;
$background-color: #f8f9fa;
$card-background: #ffffff;
$border-color: #e0e0e0;
$text-color: #333;

.cart-page {
  padding: 20px;
  background-color: $background-color;
}

.cart-item {
  display: flex;
  align-items: center;
  background: $card-background;
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
}

.cart-item-image {
  width: 112px;
  height: 112px;
  overflow: hidden;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-size: 1rem;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 5px;
}

.cart-item-description {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 1rem;
  font-weight: bold;
  color: #e83e8c;
  margin-bottom: 10px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  margin-top: 15px;

  .remove-button {
    background-color: #e83e8c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c82333;
    }
  }
}

.clear-cart-button {
  background-color: #e83e8c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;

  &:hover {
    background-color: #c82333;
  }
}

.no-items {
  text-align: center;
}

.proceed-to-checkout-button {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px; /* Space above the button */
  display: block; /* Ensures it spans full width if needed */
  width: 100%; /* Full width */
}

.proceed-to-checkout-button:hover {
  background-color: #218838;
}

.proceed-to-checkout-button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}
