<div class="checkout-page">
  <h2>Checkout</h2>

  <!-- Back to Cart Button -->
  <button class="back-to-cart-button" [routerLink]="['/cart']">
    Back to Cart
  </button>

  <div *ngIf="(cartProducts$ | async)?.length != 0; else emptyCart">
    <div *ngFor="let product of cartProducts$ | async" class="checkout-item">
      <div class="checkout-item-details">
        <div class="checkout-item-image">
          <img [src]="product.image" alt="{{ product.title }}" />
        </div>
        <div class="checkout-item-info">
          <div class="checkout-item-title">{{ product.title }}</div>
          <div class="checkout-item-price">{{ product.price | currency }}</div>
          <div class="checkout-item-quantity">
            Quantity:
            <button (click)="decreaseQuantity(product.id)">-</button>
            <span>{{ getDefaultQuantity(product) }}</span>
            <button (click)="increaseQuantity(product.id)">+</button>
          </div>
        </div>
      </div>

      <button (click)="removeItem(product.id)" class="remove-button">
        Remove
      </button>
    </div>

    <div class="checkout-summary">
      <h3>Order Summary</h3>
      <div class="checkout-total">
        Total: {{ cartTotal$ | async | currency }}
      </div>
      <button (click)="placeOrder()" class="place-order-button">
        Place Order
      </button>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="empty-cart">
      Please add some products to cart, to checkout...
    </div>
  </ng-template>
</div>
